.homepage body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

.homepage h1 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 3.5rem;
}

.homepage header > p {
    font-size: 2rem;
    text-align: center
}

.homepage .material-icons {
    position: relative;
    top: 5px;
}

<<<<<<< HEAD
.homepage .material-symbols-outlined {
    padding-top: 0.3rem;
}

.container {
=======
.homepage .container {
>>>>>>> 1ce7e08b79b2d8fdde1a705f3959597fa8fcdea0
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.homepage p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.homepage nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #bb86fc;
    padding: .5rem .5rem 1rem;
}

.homepage nav ul {
    padding: 0;
    margin: 0;
}

.homepage nav li {
    display: inline;
    margin: 0 1rem;
}

.homepage footer a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.homepage nav ul li a {
    color: black;
    text-decoration: none;
}

.homepage header {
    color: #03dac5;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
}

.homepage header p.motto {
    font-size: 1.25rem;
    text-align: center;
}

.homepage section > map {
    margin: 0;
}

.homepage footer {
    color: white;
    background-color: black;
    margin: 0;
}