body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

h1 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 3.5rem;
}

header > p {
    font-size: 2rem;
    text-align: center
}

.material-icons {
    position: relative;
    top: 5px;
}

.material-symbols-outlined {
    padding-top: 0.3rem;
}

.container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #bb86fc;
    padding: .5rem .5rem 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

header {
    color: #03dac5;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
}

header p.motto {
    font-size: 1.25rem;
    text-align: center;
}

section > map {
    margin: 0;
}

footer {
    color: white;
    background-color: black;
    margin: 0;
}