/* Profile */
.profile body {
    background-color: #191b1d;
    margin: 0;
}

.profile nav ul {
    padding: 0;
    margin: 0;
}

.profile nav li {
    display: inline;
    margin: 0 1rem;
    color: white;
}

.profile footer a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.profile nav ul li a {
    color: white;
    text-decoration: none;
}

.profile header {
    text-align: center;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.profile img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile .profile-pic {
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
}

.profile p {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 1rem;
}

.profile button {
    background-color: #03dac5;
    color: white;
    margin-top: 1rem;
}

.profile .profile-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.profile .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile #song-form {
    width: auto;
}

.profile .posts,
.profile .liked-songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile .genre,
.profile .location,
.profile .activity {
    background-color: #bb86fc;
}

.profile h2 {
    color: white;
    margin-top: 2rem;
}

.profile .card {
    width: 350px;
    margin: 0.5rem;
    text-align: center;
}

.profile h3 {
    padding-top: 0;
}

.profile .liked-songs img,
.profile .posts img {
    margin-bottom: .5rem;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.profile .song-name {
    color: #404040;
    margin-top: 0;
}

.profile .card-body {
    text-align: center;
}

.profile .sub-header {
    margin-top: 2rem;
}

.profile .play {
    margin-top: 2rem;
}

/* About Us */
.aboutus header {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    color: antiquewhite;
    background-color: black;
}

.aboutus body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #262626;
    ;
    text-align: center;
    color: antiquewhite;
}

.aboutus nav ul {
    padding: 0;
    margin: 0;
}

.aboutus nav li {
    display: inline;
    margin: 0 1rem;
    color: white;
}

.aboutus footer a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.aboutus nav ul li a {
    color: white;
    text-decoration: none;
}

.aboutus img {
    max-width: 300px;
    max-height: 300px;
}

.aboutus header {
    color: #03dac5;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-color: black;
}

/* Feed */

.feed *,
*::before,
*::after {
    box-sizing: border-box;
}

.feed main {
    text-align: center;
    font-family: "Rubik";
}

.feed h1 {
    color: #16b1b5
}

.feed body {
    background-color: black;
    font-size: 18px;
}

.feed nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #242526;
    padding: .5rem .5rem 1rem;
}

.feed nav ul {
    padding: 0;
    margin: 0;
}

.feed nav li {
    display: inline;
    margin: 0 1rem;
    color: white;
}

.feed nav ul li a {
    color: white;
    text-decoration: none;
}

.feed .material-symbols-outlined {
    padding-top: 0.3rem;
}

.feed footer {
    color: white;
    background-color: black;
    margin: 9em;
}

.feed footer a {
    color: white;
    text-decoration: none;
}

.feed .musicMatch-profile-image {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.feed .musicMatch-header {
    height: 60px;
    width: 100%;
    padding: 16px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}

.feed .musicMatch-profile-name {
    float: left;
    margin-top: .5rem;
    font-weight: 500;
    margin-left: 1rem;
    color: white
}

.feed .musicMatch-actions {
    float: right;
    margin-top: .5rem;
    font-weight: bold;
    font-size: 30px;
}

.feed .musicMatch-image {
    width: 50%;
    border: 30px solid white;
}

.feed .musicMatch-interact {
    padding: 8px;
    float: left;
}

.musicMatch-save {
    float: right;
    width: 55px;
}

.feed .musicMatch-likes {
    padding: 0 16px;
    margin: 0 0 8px 0;
    font-weight: 600;
}

.feed .musicmatch-comment-profile {
    font-weight: 600;
    color: #bb86fc;
}

.feed .musicMatch-comments {
    margin-bottom: 4px;
    line-height: 18px;
    padding: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .feed .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .feed .navbar .logo {
        margin-bottom: 10px;
    }

    .feed .navbar .nav-links {
        margin-top: 10px;
        flex-direction: column;
    }

    .feed .navbar .nav-links li {
        margin: 0;
    }
}

/* Home Page */
.homepage body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: black;
}

.homepage h1 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 3.5rem;
}

.homepage header>p {
    font-size: 2rem;
    text-align: center;
}

.homepage .material-icons {
    position: relative;
    top: 5px;
}

.homepage .material-symbols-outlined {
    padding-top: 0.3rem;
}

.homepage .container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.homepage p,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.homepage nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #242526;
    padding: .5rem .5rem 1rem;
}

.homepage nav ul {
    padding: 0;
    margin: 0;
}

.homepage nav li {
    display: inline;
    margin: 0 1rem;
    color: white;
}

.homepage footer a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.homepage nav ul li a {
    color: white;
    text-decoration: none;
}

.homepage header {
    color: #03dac5;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
}

.homepage header p.motto {
    font-size: 1.25rem;
    text-align: center;
}

.homepage .filters {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.homepage .filters>h3 {
    color: white;
}

.homepage section>map {
    margin: 0;
}

.homepage footer {
    color: white;
    background-color: black;
    margin: 0;
}