*,
*::before,
*::after {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

main {
    text-align: center;
}

h1 {
    color: #03dac5
}

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.musicMatch-posts {
    border: 1px solid #ccc;
}

.musicMatch-profile-image {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.musicMatch-header {
    height: 60px;
    width: 100%;
    padding: 16px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}

.musicMatch-profile-name {
    float: left;
    margin-top: .5rem;
    font-weight: 500;
    color: #262626;
    margin-left: 1rem;
    color: #03dac5
}

.musicMatch-actions {
    float: right;
    margin-top: .5rem;
    font-weight: bold;
}

.musicMatch-image {
    width: 80%;
}

.musicMatch-like,
.musicMatch-comment,
.musicMatch-share,
.musicMatch-save {
    padding: 8px;
    float: left;
}

/*had to resize some images*/
.musicMatch-like {
    width: 50px;
}

.musicMatch-comment {
    width: 50px;
}

.musicMatch-share {
    width: 45px;
}

.musicMatch-save {
    float: right;
    width: 55px;
}

.musicMatch-likes {
    padding: 0 16px;
    margin: 0 0 8px 0;
    font-weight: 600;
}

.musicmatch-comment-profile {
    font-weight: 600;
    color: #bb86fc;
}

.musicMatch-comments {
    margin-bottom: 4px;
    line-height: 18px;
    padding: 0;
}

.musicMatch-comment-like-icon {
    float: right;
    width: .5px;
    height: .5px;
}

.filter {
    text-align: center;
    color: #bb86fc;
}